{% if site.data.env.ambiente_static == 'desarrollo' %}
  <script  type="text/javascript" src="{{ site.url }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script  type="text/javascript" src="{{ site.url }}/bower_components/materialize/dist/js/materialize.min.js"></script>
  <script  type="text/javascript" src="{{ site.url }}/assets/js/site.js"></script>
{% else if site.data.env.ambiente_static == 'produccion'%}
  <script  type="text/javascript" src="/dist/site.min.js"></script>
{% endif %}
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Centro Ondontológico Americano - Derechos Reservados
    <a class="grey-text text-lighten-4 right" href="http://softweb.pe/website/">Sitio Desarollado por Software Web Perú ©</a>
    </div>
  </div>
</footer>
