<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Aceptamos todas las tarjetas</p>
        <div class="row">
          <div class="col l6 s12 tarjeta">
            <img src="{{ site.url }}/assets/img/diners_club.png" alt="">
          </div>
          <div class="col l3 s12 tarjeta">
            <img src="{{ site.url }}/assets/img/mastercard.png" alt="">
          </div>
          <div class="col l3 s12 tarjeta">
            <img src="{{ site.url }}/assets/img/visa.png" alt="">
          </div>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <img src="{{ site.url }}/assets/img/bureau_veritas.png" alt="">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Centro Ondontológico Americano - Derechos Reservados
    <a class="grey-text text-lighten-4 right" href="http://softweb.pe/website/">Sitio Desarollado por Software Web Perú ©</a>
    </div>
  </div>
</footer>
{% if site.data.env.ambiente_static == 'desarrollo' %}
  <script  type="text/javascript" src="{{ site.url }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script  type="text/javascript" src="{{ site.url }}/bower_components/materialize/dist/js/materialize.min.js"></script>
  <script  type="text/javascript" src="{{ site.url }}/assets/js/site.js"></script>
{% else if site.data.env.ambiente_static == 'produccion'%}
  <script  type="text/javascript" src="/dist/site.min.js"></script>
{% endif %}
