<section class="links center-align" id="links">
 <h5 class="bold color-grey">Links de su Interés</h5>
 <br>
  <div class="container">
    <!-- Fila 1 -->
    <div class="row">
      <div class="col s12 l3">
       <div class="info">
         <i class="medium material-icons color-grey">near_me</i>
         <h6 class="h-style">Encuéntranos</h6>
       </div>
      </div>
      <div class="col s12 l3">
       <div class="info">
         <i class="medium material-icons color-grey">check</i>
         <h6 class="h-style">ISO 9001</h6>
       </div>
      </div>
      <div class="col s12 l3">
       <div class="info">
         <i class="medium material-icons color-grey">book</i>
         <h6 class="h-style">¿Qué es CENCOCOA?</h6>
       </div>
      </div>
      <div class="col s12 l3">
       <div class="info">
         <i class="medium material-icons color-grey">people_outline</i>
         <h6 class="h-style">Conoce a Nuestro Equipo</h6>
       </div>
      </div>
    </div>
    <!-- Fila 2 -->
    <div class="row">
      <div class="col s12 l3 offset-l1">
        <div class="info">
          <i class="medium material-icons color-grey">insert_chart</i>
          <h6 class="h-style">Sigue Nuestros Consejos</h6>
        </div>
      </div>
      <div class="col s12 l3">
        <div class="info">
          <i class="medium material-icons color-grey">local_hospital</i>
          <h6 class="h-style">Urgencias</h6>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="info">
          <i class="medium material-icons color-grey">payment</i>
          <h6 class="h-style">Documentación Electrónica</h6>
        </div>
      </div>
    </div>
  </div>
</section>
