<section id="odontologos">
 <h4 class="bold color-primary  center-align">Odontólogos Asociados</h4>
 <br>
  <div class="container">
    <!-- Fila 1 -->
    <div class="row">
      <div class="col s12 l6">
        <p class="color-grey">
          Tenemos un staff de odontólogos de primer nivel, el mismo que ha sido posible, gracias al nivel profesional, calidad personal, ética, liderazgo y experiencia de nuestros profesionales, Cuentan con la más alta preparación académica y reconocimiento dentro de las universidades de mayor prestigio del país.
        </p>
      </div>
      <div class="col s12 l6">
        <p class="color-grey">
          El alto porcentaje de especialistas post graduados en distintos campos, nos permite recurrir a la interconsulta individual y análisis de casos; asi como reforzar la dotación de profesionales en nuestras sedes y filiales a travéz de nuestro Programa de Reforzamiento Profesional a nivel nacional.
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s12 l6">
        <div class="input-field col s12">
          <select id="cbmObontologoDistrito">
            <option value="" disabled selected>Seleccione Distrito</option>
          </select>
          <label>Odontólogos en Lima</label>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="input-field col s12">
          <select id="cbmObontologoProvincia">
            <option value="" disabled selected>Seleccione Provincia</option>
          </select>
          <label>Odontólogos en Provincia</label>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="parallax-container" style="height:300px;">
  <div class="parallax"><img src="{{ site.url }}/assets/img/team-dental.png"></div>
</div>
