<section id="servicios">
 <h4 class="bold color-primary  center-align">Servicios</h4>
 <br>
 <div class="container">
   <!-- Fila 1 -->
   <div class="row">
     <div class="col s12 l3">
      <div class="info">
        <i class="medium material-icons color-grey">playlist_add_check</i>
        <h6 class="h-style">NUESTRAS ESPECIALIDADES</h6>
        <p>
          Contamos con un Staff postgraduados y diplomados en diferentes especialidades provenientes de las mejores universidades del país...
        </p>
        <a>Ver Especialidades</a>
      </div>
     </div>
     <div class="col s12 l3">
      <div class="info">
        <i class="medium material-icons color-grey">sentiment_satisfied</i>
        <h6 class="h-style">AFILIADOS A TODAS LAS EPS Y SEGUROS</h6>
        <p>
          Atendemos a pacientes de diversas EPS, compañíasde seguros, asociaciones profesionales y pacientes particulares.
        </p>
        <a>Ver Convenios</a>
      </div>
     </div>
     <div class="col s12 l3">
      <div class="info">
        <i class="medium material-icons color-grey">search</i>
        <h6 class="h-style">SERVICIOS COMPLEMENTARIOS Y CALIDAD TOTAL</h6>
        <p>
          Para que se sienta gratamente atendido en todo momento. Le ofrecemos una serie de servicios adicionales gratuitos.
        </p>
        <a>Ver Servicios Adicionales</a>
      </div>
     </div>
     <div class="col s12 l3">
       <div class="info">
         <i class="medium material-icons color-grey">local_hospital</i>
         <h6 class="h-style">ATENCIÓN DE URGENCIAS ODONTOLÓGICAS</h6>
         <p>
            Te ofrece un servicio de Atención de Urgencias Odontológicas en toda la red a nivel nacional fuera de nuestro horario habitual de atención, previa consulta telefónica.
         </p>
       </div>
     </div>
   </div>
 </div>
</section>
