<section class="links" id="lo-que-somos">
 <h4 class="bold color-primary  center-align">Nosotros</h4>
 <br>
  <div class="container">
    <!-- Fila 1 -->
    <div class="row">
      <div class="col s12 l6">
        <h6 class="bold color-primary">LO QUE SOMOS</h6>
        <p class="color-grey">
          Somos un centro odontológico que presta servicios profesionales en las principales ciudades del país y en diversos distritos de nuestra capital.
        </p>
        <p class="color-grey">
          Tenemos el primer sistema de salud dental descentralizado en el país, con un mismo estilo de trabajo y con la misma tecnología, además con igual nivel de profesionales en cada uno de ellos.
        </p>
        <p class="color-grey">
          Con más de 19 años en la prestación de servicios odontológicos gozamos del reconocimiento y prestigio de nuestros pacientes particulares, afiliados a EPS, Compañías de Seguros, Autoseguros Empresariales e Instituciones más importantes a nivel nacional, gracias al esfuerzo y seriedad de nuestros profesionales.
        </p>
        <p class="color-grey">
          Desde el inicio nuestro desarrollo ha sido permanente y se ha orientado a la formación y consolidación de lo que es hoy la Red de Establecimientos Odontológicos más extensa y confiable del país.
        </p>
        <p class="color-grey">
          Adoptamos la calidad y garantía odontológica del servicio al paciente como objetivos y filosofía de la empresa, como motivadores de nuestra actitud personal y corporativa en todas las acciones que realizamos.
        </p>
        <p class="color-grey">
          Por estas y muchas razones, marcamos la diferencia. CONFÍE EN NOSOTROS.
        </p>
      </div>
      <div class="col s12 l6">
        <h6 class="bold color-primary">VISIÓN</h6>
        <p class="color-grey">
          Ser reconocidos como la mejor y más grande empresa odontológica del Perú, a través del crecimiento de nuestra RED NACIONAL INTEGRADA, que servirá de base para la internacionalización de la empresa.
        </p>
        <h6 class="bold color-primary">MISIÓN</h6>
        <p class="color-grey">
          Ofrecer a nuestros pacientes, servicios odontológicos de alta calidad en todas las especialidades a cargo de profesionales competentes con soporte tecnológico y esmerada atención.
        </p>
        <h6 class="bold color-primary">POLÍTICA DE CALIDAD</h6>
        <p class="color-grey">
          Ofrecer servicios de odontología general y de especialidades mediante su Red a nivel nacional, con el compromiso de satisfacer las necesidades de sus clientes, manteniendo estándares de calidad en sus procedimientos, prácticas institucionales y profesionales, desarrollados por personal competente y comprometido con la innovación y mejora continua de sus procesos.
        </p>
        <h6 class="bold color-primary">VALORES</h6>
        <p class="color-grey">
          Respeto al paciente, Servicio Personalizado e Innovación.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="parallax-container" style="height:300px;">
  <div class="parallax"><img src="{{ site.url }}/assets/img/nosotros.png"></div>
</div>
