<section id="tecnologia">
  <h4 class="bold color-primary  center-align">Tecnología</h4>
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="bold color-primary center">NUESTROS EQUIPOS</h5>
        <p class="center">Todos nuestros consultorios están debidamente equipados para brindarle una atención personalizada y privada con la más avanzada tecnología odontológica.</p>
      </div>
   </div>
 </div>
 <div class="carousel">
    <div class="carousel-item">
      <div class="card sticky-action">
        <div class="card-image ">
          <img src="{{ site.url }}/assets/img/equipos_blanqueamiento-laser.png"> </img>
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary load-modal" template="tecnologia-equipos-blanqueamiento"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">Blanqueamiento <br>con Láser</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.url }}/assets/img/equipos_cadcam.png">
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">CAD/CAM<br><span style="color:white;">.</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.url }}/assets/img/equipos_camara_intraoral.png">
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">Cámaras <br>Intra-Orales</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.url }}/assets/img/equipos_endodoncia.png">
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">Endodoncia <br>Rotacional</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.url }}/assets/img/equipos_esterilizacion.png">
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">Sistema Especial de <br>Esterilización</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.url }}/assets/img/equipos_radiologia_digital.png">
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">Radiología <br>Digital 3D</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.url }}/assets/img/equipos_ultrasonido.png">
          <a class="btn-floating halfway-fab waves-effect waves-light fondo-primary"><i class="material-icons md1"></i></a>
          <div class="card-content">
            <p class="bold color-primary">Profilaxis con <br>Ultrasonido</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="bold color-primary center">PROCESO DE BIOSERGURIDAD</h5>
      </div>
   </div>
   <div class="row">
     <div class="col s12 l6">
       <p class="color-grey">
         El COA preocupado por tu salud oral integral, garantiza tus tratamientos de alta calidad, a través de nuestro proceso de bioseguridad con autoclaves de última generación.
       </p>
       <h6 class="bold color-primary">Proceso de Bioseguridad</h6>
       <ul class="ul-list">
         <li class="bold color-primary icono-li">DESINFECCIÓN:</li>
         <ul class="ul-sub-list">
           <li>Eliminación de bacterias y virus.</li>
           <li>No se elimina el 100%, puede permanecer algún microorganismo.</li>
         </ul>
         <li class="bold color-primary icono-li">ESTERILIZACIÓN EN ESTUFA:</li>
         <ul class="ul-sub-list">
           <li>Proceso de eliminación al 100% de bacterias, virus, etc. No se eliminan esporas.</li>
         </ul>
         <li class="bold color-primary icono-li">ESTERILIZACIÓN EN AUTOCLAVE:</li>
         <ul class="ul-sub-list">
           <li>Eliminación al 100% de microvirus y esporas.</li>
         </ul>
       </ul>
     </div>
     <div class="col s12 l6">
       <img src="{{ site.url }}/assets/img/proceso.png" alt="">
     </div>
   </div>
 </div>
</section>
<div class="parallax-container" style="height:300px; background: rgba(0, 123 ,255, 0.30);">
  <div class="parallax"><img src="{{ site.url }}/assets/img/tecnologia.jpg"></div>
</div>
