<section class="links" id="lo-que-somos" styles="background: #e9eaed">
 <h4 class="bold color-primary  center-align">Servicios y Tecnología</h4>
 <br>
  <div class="container">
    <!-- Fila 1 -->
    <div class="row">
      <div class="col s12 l6">
        <p class="color-grey">
          Tenemos un staff de odontólogos de primer nivel, el mismo que ha sido posible, gracias al nivel profesional, calidad personal, ética, liderazgo y experiencia de nuestros profesionales, Cuentan con la más alta preparación académica y reconocimiento dentro de las universidades de mayor prestigio del país.
        </p>
        <p class="color-grey">
          El alto porcentaje de especialistas post graduados en distintos campos, nos permite recurrir a la interconsulta individual y análisis de casos; asi como reforzar la dotación de profesionales en nuestras sedes y filiales a travéz de nuestro Programa de Reforzamiento Profesional a nivel nacional.
        </p>
      </div>
      <div class="col s12 l6">
        <p class="color-grey">
          Tenemos un staff de odontólogos de primer nivel, el mismo que ha sido posible, gracias al nivel profesional, calidad personal, ética, liderazgo y experiencia de nuestros profesionales, Cuentan con la más alta preparación académica y reconocimiento dentro de las universidades de mayor prestigio del país.
        </p>
        <p class="color-grey">
          El alto porcentaje de especialistas post graduados en distintos campos, nos permite recurrir a la interconsulta individual y análisis de casos; asi como reforzar la dotación de profesionales en nuestras sedes y filiales a travéz de nuestro Programa de Reforzamiento Profesional a nivel nacional.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="parallax-container" style="height:300px;">
  <div class="parallax"><img src="{{ site.url }}/assets/img/tecnologia.jpg"></div>
</div>
