<section id="tecnologia">
 <h4 class="bold color-primary  center-align">Tecnología</h4>
 <br>
 <div class="container">
   <!-- Fila 2 -->
   <div class="row">
     <div class="col s12 l6">
      <div class="info">
        <i class="medium material-icons color-grey">near_me</i>
        <h6 class="h-style">Equipos</h6>
        <p>
          Todos nuestros consultorios están debidamente equipados para brindarle una atención personalizada y privada con la más avanzada tecnología odontológica.
        </p>
        <a>Ver Equipos</a>
      </div>
     </div>
     <div class="col s12 l6">
      <div class="info">
        <i class="medium material-icons color-grey">check_circle</i>
        <h6 class="h-style">Bioseguridad</h6>
        <p>
          El COA preocupado por tu salud oral integral, garantiza tus tratatmientos de alta calidad, a travéz de nuestro proceso de bioseguirdad con autoclaves de última generación.
        </p>
        <a>Ver Proceso</a>
      </div>
     </div>
   </div>
 </div>
</section>
<div class="parallax-container" style="height:300px;">
  <div class="parallax"><img src="{{ site.url }}/assets/img/tecnologia.jpg"></div>
</div>
