<div class="slider">
  <ul class="slides">
    <li>
      <img src="{{ site.url }}/assets/img/foto01.jpg">
      <div class="caption center-align brown-text text-darken-2">
        <h4>Tip 1</h4>
        <h5 class="light grey-text text-darken-2">
          Al cepillarte los dientes utiliza un cepillo dental de cerdas suaves y cámbialo cada 3 meses.
        </h5>
      </div>
    </li>
    <li>
      <img src="{{ site.url }}/assets/img/foto02.jpg">
      <div class="caption center-align blue-grey-text text-darken-4">
        <h4>Tip 2</h4>
        <h5 class="light blue-grey-text text-darken-4">
          Después de cepillarte recuerda usar el hilo dental para quitar restos de comida.
        </h5>
      </div>
    </li>
    <li>
      <img src="{{ site.url }}/assets/img/foto03.jpg">
      <div class="caption center-align blue-grey-text text-darken-4">
        <h4>Tip 3</h4>
        <h5 class="light blue-grey-text text-darken-4">
          Enjuágate bien de dos a tres veces para combatir la placa y mantener un fresco aliento.
        </h5>
      </div>
    </li>
  </ul><!-- /slides -->
</div><!-- /slider -->
