
.nav-wrapper > .brand-logo{
  padding: 10px !important;
}

.color-primary {
  color: var(--primary-color) !important;
}

.page-footer {
  background-color: var(--primary-color);
}

nav {
  position: fixed;
  background: rgba(0, 0 ,0, 0.25);
  padding: 0px 20px;
  z-index: 100;
}

nav i.material-icons{
  font-size: 40px;
}

#parallax1{
  height: 700px;
}
